@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Sen:wght@400..800&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* BODY */
body {
  display: flex;
  flex-direction: column; /* AGORA É COLUNA */
  min-height: 150vh; /* ocupa a tela toda */
  background-color: #000000;
  color: white;
}

/* ====================HEADER==================== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgba(3, 3, 3, 0.5); /*Cor preta com 50% de opacidade*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.header-img {
  width: 150px;
}

.header-content {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header-content a {
  text-decoration: none;
  color: white;
  font-size: large;
  transition: 0.3s ease;
  margin-left: 10px;
  border-bottom: 3px solid transparent;
}

.header-content a:hover,
.header-content a.active {
  color: #ee471d;
}

.butao {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: large;
  background-color: rgb(224, 54, 54);
  white-space: nowrap;
}

/*=========================MAIN=========================*/

main {
  flex: 1;
  margin-top: 80px; /* COMPENSA o header */
  display: flex;
  justify-content: center; 
  padding: 20px;
}


.plans-section {
  text-align: center;
  padding: 50px 20px;
  width: 100%;
}

.differential {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 20px;
}

/* TOGGLE */
.toggle {
  display: inline-flex;
  background: #222;
  border-radius: 30px;
  padding: 5px;
  margin-bottom: 40px;
}

.toggle button {
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

/* PLANOS */
.plans {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: #f1f1f1;
  color: #000;
  width: 100%;
  max-width: 300px;
  padding: 25px;             /* Card dos planos */
  border-radius: 8px;
  text-align: left;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px); /* Efeito de zoom */
}

.card h2 {
  margin-bottom: 15px;  /* Distancia para baixo */
}

.card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.card li {
  margin-bottom: 10px;
}

/* PREÇO */
.price {
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0;
}

.price span {
  font-size: 14px;
  color: #555;
}

/* BOTÃO */
.card button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #5c6f82;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/*==========================FOOTER==========================*/
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.footer-links a {
  color: #3874b9; /* Cor dos links */
  text-decoration: none;
}

/* ============ RESPONSIVIDADE ============ */
/* Tablets (até 768px) */
@media (max-width: 768px){
  header{
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 15px;
  }

  .header-img{
    width: 110px;
  }

  .header-content{
    gap:10px;
    order: 3;
    width: 100%;
    justify-content: center;
  }

  .header-content a{
    font-size: medium; /* essa parte dos seu link */
    margin-left: 0;
  }

  .butao{
    font-size: medium;
    padding: 6px 12px;
  }

  main{
    margin-top: 110px;
  }
}

