@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Sen:wght@400..800&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* BODY */
body {
  display: flex;
  flex-direction: column; /* AGORA É COLUNA */
  min-height: 130vh; /* ocupa a tela toda */
  background-color: #8a8888;
}

/* ====================HEADER==================== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgba(3, 3, 3, 0.5); /*Cor preta com 50% de opacidade*/
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.header-img {
  width: 150px;
}

.header-content {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header-content a {
  text-decoration: none;
  color: white;
  font-size: large;
  transition: 0.3s ease;
  margin-left: 10px;
  border-bottom: 3px solid transparent;
}

.header-content a:hover,
.header-content a.active {
  color: #ee471d; /* Amarelo Dourado */
}

.butao {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: large;
  background-color: rgb(224, 54, 54);
}

/*=========================MAIN=========================*/

main {
  flex: 1; /* faz o conteúdo crescer */
  margin-top: 20px; /* COMPENSA o header */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*==========================FOOTER==========================*/
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.footer-links a {
  color: #3874b9; /* Cor dos links */
  text-decoration: none;
}

/*======================CAROUSEL========================*/

body {
  background: #000;
  color: #fff;
}

.carousel-container {
  width: 90%;
  margin: auto;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.card {
  min-width: 200px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* 🔥 ZOOM NO HOVER */
.card:hover img {
  transform: scale(1.1);
}

/* BOTÕES */
.btn {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
  padding: 10px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
