@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: var(--body-bg);
  padding: 30px 16px;
}

/* troca de tema */
#themeButton {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: var(--button-variante);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
#themeButton svg {
  fill: var(--button-variante-icon);
}
#themeButton svg:last-child {
  display: none;
}
.darkmode #themeButton svg:first-child {
  display: none;
}
.darkmode #themeButton svg:last-child {
  display: block;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 70px;
}

.introduction {
  text-align: center;
}

.introduction h1 {
  color: var(--text-light);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.25;
}

.introduction p {
  color: var(--text-muted);
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.75;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.integrantes-card {
  display: grid;
  text-align: center;
  width: 250px;
  border-radius: 15px;
  padding: 12px 15px;
  transition:
    transform 0.3s ease,
    background 0.3s ease,
    box-shadow 0.3s ease;
  position: relative;
  justify-content: center;
}

.integrantes-card:hover {
  border-color: #ee471d;
  backdrop-filter: blur(5px);
  transform: translateY(-6px);
  background: var(--card-bg);
  box-shadow: 0 0 0 3px rgba(153, 132, 132, 0.18);
}

.integrantes-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover; /* Esse código arruma a imagem de perfil */
}

.integrantes-card h2 {
  color: var(--text-muted);
}

.social-menu {
  position: absolute;

  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  width: 200px;

  background: #242424;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  opacity: 0;
  visibility: hidden;

  transition: 0.25s;
}

.social-menu a {
  color: white;
  text-decoration: none;

  padding: 12px 16px;
  transition: 0.2s;
}

.social-menu a:hover {
  background: #353535;
}

.integrantes-card:hover .social-menu {
  opacity: 1;
  visibility: visible;
}
