@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Sen:wght@400..800&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

body {
  background: #000000;
  min-height: 100vh;
  display: grid;
  place-items: center; /* centraliza horizontal e vertical */
  padding: 20px;
} 

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

input,
select {
  display: block;
  width: 100%;  /*faz o input ocupar toda a largura do container pai */
  margin: 10px 0;
  padding: 10px;
}

input.input-erro, select.input-erro{
  border: 2px solid #d42710;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #a54133;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
}

span {
  color: #d42710;
  cursor: pointer;
}

p span {
  color: #d42710;
  cursor: pointer;
}

/* spans de erro não são clicáveis */
.erro {
  color: #d42710;
  cursor: default;
  font-size: 12px;
  display: block;
}

/* ============ RESPONSIVIDADE ============ */
/* telas de celulares pequenos */
@media (max-width: 360px){
  .container{
    padding: 15px;
  }

  input,
  select{
    padding: 8px;
    font-size: 14px;
  }

  button{
    font-size: 14px;
  }
}
