@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Sen:wght@400..800&display=swap");

:root {
  --body-background: rgb(124, 104, 104);
  --login-background: rgb(61, 47, 47);
  --text-h1: #e5e7eb;
  --text-p: #e5e7eb;
  --label-color: white;
  --input-border: rgb(236, 236, 236);
  --input-background: rgb(170, 143, 143);
  --input-color: rgb(255, 255, 255);
  --input-color-focus: rgb(187, 71, 56);
  --btn-enter-background:white;
  --btn-enter-color: black;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center; /* centraliza horizontal e vertical */
  background: var(--body-background);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  width: 400px;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--login-background);
}

#cadastro {
  width: 600px;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--login-background);
}

h1 {
  text-align: center;
  margin-bottom: 8px;
  color: var(--text-h1);
}

.login-subtitle {
  text-align: center;
  margin-bottom: 25px;
  color: var(--text-p);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label{
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--label-color);
}

input {
  padding: 14px;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
  background-color: var(--input-background);
  color: var(--input-color);
  border: 2px solid var(--input-border);
}

input:focus {
  border-color: var(--input-color-focus);
}

.btn-enter{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--btn-enter-background);
  color: var(--btn-enter-color);
}

.btn-enter:hover{
  transform: scale(1.02);
}


/*  reparar  */
span {
  color: #d42710;
  cursor: pointer;
}

p span {
  color: #d42710;
  cursor: pointer;
}
