/* ═══════════════════════════════*/
/* COR PRINCIPAL */
/* ═══════════════════════════════*/
:root {
  --body-bg: rgb(124, 104, 104);
  --card-bg: rgb(61, 47, 47);
  --accent: #d42710;
  --accent-hover: #b8200d;
  --text-light: #e5e7eb;
  --text-muted: #b0a0a0;
  --input-bg: rgb(170, 143, 143);
  --input-border: rgb(236, 236, 236);
  --input-color: #ffffff;
  --input-focus: #d42710;
  --readonly-bg: rgba(0, 0, 0, 0.15);
  --step-inactive: #7a6060;
  --step-active: #d42710;
  --step-done: #a83010;

  --button-variante: rgb(179, 179, 179);
}

/* ═══════════════════════════════*/
/* DARK MODE */ 
/* ═══════════════════════════════*/

.darkmode {
  --body-bg: #0f0f0f;
  --card-bg: #1a1a1a;
  --accent: #e63924;
  --accent-hover: #c92d1a;
  --text-light: #f3f4f6;
  --text-muted: #9ca3af;
  --input-bg: #242424;
  --input-border: #3a3a3a;
  --input-color: #ffffff;
  --input-focus: #e63924;
  --readonly-bg: rgba(255, 255, 255, 0.05);
  --step-inactive: #4b5563;
  --step-active: #e63924;
  --step-done: #b91c1c;

  --button-variante: rgb(179, 179, 179);
}
